{% extends 'funcov/base.html' %}

{% load staticfiles %}

{% block content_block %}

    <h2 class='text-left'>About FunCov</h2>

    <p class='text-left'>As much as hardware developers stress a dependency on functional coverage, usage models lag far behind the rhetoric.</p>

    <!--<p class='text-left'>Systemverilog language constructs are awkward and sporadically used by developers making coverage collection cumbersome and error prone. Specialization and accessibility ensures design engineers are completely shutout of the process. Coverage models are built over and over again for the same industry protocols. We have no means of sharing and consolidating experience.</p>-->

    <p class='text-left'>FunCov is designed to address the shortcomings of collecting functional coverage. It aggregates industry knowledge of commonly used protocols in a way that is highly accessible to design and verification engineers alike. The IP you get out is exactly what you need; no less, no more.</p>

    <hr/>

    <h2 class='text-left'>FunCov Development Team</h2>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <img src="{% static "images/neil.png" %}" style="width:100%">
      </div>
      <div class="col-lg-9 col-md-9">
        <p class='text-left'><b>Neil Johnson</b> is a verification consultant, co-moderator of <a href="http://www.agilesoc.com">AgileSoC.com</a> and <a href="http://www.agilesoc.com/svunit">SVUnit</a> developer. Neil hopes to improve functional coverage tools, usage models and accessibility by providing opportunities for engineers to collaboratively solve common industry problems.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-3">
        <img src="{% static "images/rr-guys.png" %}" style="width:100%">
      </div>
      <div class="col-lg-9 col-md-9">
        <p class='text-left'><b>Dyck Garrison</b>, <b>Vladimir Joliot</b> and <b>Glenn Wong</b> are co-conspirators at <a href="http://www.realityreused.com">RealityReused.com</a>, a fictional EDA startup bent on overthrowing incumbant Big3 Inc. While FunCov is an entirely serious product, being too serious can take the fun out of the job. So for the inevitable holes, hiccups and flops during development, Dyck, Vlad and Glenn will do their best to provide a little comic relief.</p>
      </div>
    </div>

{% endblock %}
