{% extends 'funcov/base.html' %}

{% load staticfiles %}

{% block nav_block %}

<div class="bs-example">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#params">Bus Parameters</a></li>
        <li><a data-toggle="tab" href="#covergroup">My Covergroup</a></li>
        <li><a data-toggle="tab" href="#coverpoint">New Coverpoint</a></li>
        <li><a data-toggle="tab" href="#cross">New Cross Cover</a></li>
    </ul>
</div>

{% endblock %}



{% block content_block %}
    <form id="category_form" method="post" action="{% url 'editor' %}">
  
      {% csrf_token %}

      <div class="tab-content">
        <div id="params" class="tab-pane fade in active">
          <h3>Bus Parameters</h3>

            {% for k,v in parameters.items %}
            <div class="form-inline">
              <div class="form-group form-group-lg">
                <div class="row">
                      <input type="text" class="form-control" aria-label="..." placeholder="{{ v.name }}" readonly>
                    <select class="form-control selectpicker" style="width:100px">
                      {% for val in v.values %}
                        <option>{{ val }}</option>
                      {% endfor %}
                    </select>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>

        <div id="covergroup" class="tab-pane fade">
          <h3>Select All Applicable {{ type }} Coverpoints</h3>
 
          {% for name,blah in covergroups.items %}

          {% endfor %}
          <input class="btn btn-lg btn-success" type="submit" name="submit" value="Download Covergroup" />
        </div>
        <div id="coverpoint" class="tab-pane fade">
            <h3>New Coverpoint</h3>
            <p>Not quite working yet!</p>
        </div>
        <div id="cross" class="tab-pane fade">
            <h3>New Cross Cover</h3>
            <p>Not quite working yet!</p>
        </div>
      </div>
    </form>

{% endblock %}
