{% extends 'funcov/base.html' %}

{% load staticfiles %}

{% block content_block %}

    <img src="../../static/images/funcov.png" style="height:50%; width:50%">

    <h2>{{ h2 }}</h2>
    <p class="lead">{{ h3 }}</p>

    {% if user.is_authenticated %}
      {% for label,ctxt in buttons.items %}
        <a class="btn btn-lg btn-success" href="{{ 'editor' }}?type={{ ctxt.type }}" role="button">{{ label }}</a>
      {% endfor %}
    {% else %}
      {% for label,url in buttons.items %}
        <a class="btn btn-lg btn-success" href="{{ url }}" role="button">{{ label }}</a>
      {% endfor %}
    {% endif %}

{% endblock %}
