<!DOCTYPE HTML>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/images/favicon.ico">

    <title>FunCov - Functional Coverage Made Easy</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/dist/css/jumbotron-narrow.css" rel="stylesheet">

    <link href="../../static/dist/css/custom.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../static/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../static/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!--
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68384231-1', 'auto');
      ga('send', 'pageview');

    </script>
-->
  </head>

  <body onload="myFunction('bag o guts')">

    <div class="container">
      <div class="header clearfix">
        <a href="{% url 'index' %}"><img src="../../static/images/funcov.png" style="width:15%"></a>
      </div>

      <textarea style="font-family: Courier;" cols="70" rows="20">
      {{ txt }}
      </textarea>

      <p><a type="button" onClick="window.close()" class="btn btn-primary btn-lg">Close</a>
         <a type="button" href="data:application/octet-stream,{{ uri }}" class="btn btn-primary btn-lg" download="myCovergroup.sv">Download</a></p>

      <footer class="footer">
        <p>&copy; AgileSoC.com 2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
